flows/grupo5Flows.json
[{"id":"a6e3c705.334f08","type":"tab","label":"Telemetry Flow Entrega","disabled":false,"info":""},{"id":"42250a5a.aa6854","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":true},{"id":"dff7c965.5fba88","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"5ee7853d.ed135c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1119246.361a9dc","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"475e7dd4.f9a1f4","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"3238887b.e3de58","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"ee7ef1f5.8d934","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"a0c21e26.3d07d","type":"ui_group","z":"","name":"Estado del Deposito","tab":"c70ad862.9671b8","disp":true,"width":"8"},{"id":"c70ad862.9671b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"81721989.d55508","type":"mqtt-broker","z":"","broker":"172.24.42.32","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7531a2a8.c6945c","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"b987349c.a77228","type":"mqtt-broker","z":"","broker":"172.24.42.32","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d6acd1e1.63859","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"9052fc88.add02","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"ef7bf38c.2b352","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c677aae4.ff5548","type":"ui_group","z":"","name":"Estado del Deposito","tab":"ef7bf38c.2b352","disp":true,"width":"8"},{"id":"68a18f1c.baf5e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b99379b9.55d628","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":true},{"id":"cd80970b.7a3468","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8cfecf12.2fd18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"41a0578.5c801a8","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"3cbde670.70814a","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"70a45a76.933114","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"50f98d95.33ddd4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"cde8d9e2.a58b68","type":"ui_group","z":"","name":"Estado del Deposito","tab":"9487ec48.167d9","disp":true,"width":"8"},{"id":"9487ec48.167d9","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"210653ec.e5736c","type":"mqtt-broker","z":"","broker":"172.24.42.32","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fca3111f.da68b","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":true},{"id":"c576d052.9636a","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"6ddf06b3.f63568","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b82c921b.6640b","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"d0a782ee.52de6","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNG9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"a59dcb1.3077e38","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"8a5a514d.0e9fc","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"a134e7f1.aa58d8","type":"ui_group","z":"","name":"Estado del Deposito","tab":"cb9b977a.ccdfb8","disp":true,"width":"8"},{"id":"cb9b977a.ccdfb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9b300916.a36fb8","type":"mqtt-broker","z":"","broker":"172.24.42.47","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"949c366b.7b8098","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8d33aeee.6529b","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"b107da81.338ce8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"724a2298.b7962c","type":"ui_group","z":"","name":"Estado del Deposito","tab":"e9c1835e.8b58b","disp":true,"width":"8"},{"id":"e9c1835e.8b58b","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"6fa094d8.2476bc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"84f67608.6fa478","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"29f4f42d.3572bc","type":"mqtt-broker","z":"","broker":"172.24.42.32","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b6ae6e95.67933","type":"function","z":"a6e3c705.334f08","name":"formatToDictionary","func":"\n\nvar res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\ntempArray = msg.payload.split(\";\");\n\nres.topic = \"sensors\";\nres.payload = {\"Temperature\": {\n    \"Value\": parseFloat(tempArray[1]),\n    \"Promedio\": tempArray[2]\n},\n\"Sound\": {\n    \"Value\": parseFloat(tempArray[4]),\n    \"Promedio\": tempArray[5]\n},\n\"Monoxide\": {\n    \"Value\": parseFloat(tempArray[7]),\n    \"Promedio\": tempArray[8]\n},\n\"Lux\": {\n    \"Value\": parseFloat(tempArray[10]),\n    \"Promedio\": tempArray[11]\n},\n\"Nivel\": tempArray[12],\n\"Area\": tempArray[13]\n};\n\nreturn res;\n","outputs":1,"noerr":0,"x":405,"y":440,"wires":[["5dafe62e.d731d8"]]},{"id":"5dafe62e.d731d8","type":"json","z":"a6e3c705.334f08","name":"","pretty":true,"x":625,"y":440,"wires":[["298ffcf2.c8b074","d490bafe.9d5058"]]},{"id":"298ffcf2.c8b074","type":"debug","z":"a6e3c705.334f08","name":"Output","active":true,"console":"true","complete":"payload","x":825,"y":501,"wires":[]},{"id":"d490bafe.9d5058","type":"mqtt out","z":"a6e3c705.334f08","name":"","topic":"registros","qos":"0","retain":"false","broker":"29f4f42d.3572bc","x":817,"y":364,"wires":[]},{"id":"15862570.6d12eb","type":"inject","z":"a6e3c705.334f08","name":"Perfecto","topic":"alta.piso1.local1","payload":"Temperature;21.55;20;Sound;40;40;Monoxide;20;18;Luminosity;1000;900;1;1","payloadType":"str","repeat":"1","crontab":"","once":true,"x":160,"y":320,"wires":[["b6ae6e95.67933"]]},{"id":"9ee0f3ad.78a3e","type":"inject","z":"a6e3c705.334f08","name":"Fuera de linea","topic":"alta.piso1.local1","payload":"Temperature;21.55;20;Sound;40;40;Monoxide;20;18;Luminosity;1000;900;1;1","payloadType":"str","repeat":"301","crontab":"","once":true,"x":240,"y":200,"wires":[[]]},{"id":"4815065d.9491f8","type":"inject","z":"a6e3c705.334f08","name":"Fuera de rango","topic":"alta.piso1.local1","payload":"Temperature;21.7;20;Sound;40;40;Monoxide;20;18;Luminosity;1000;900;1;1","payloadType":"str","repeat":"1","crontab":"","once":true,"x":160,"y":420,"wires":[[]]}]
