flows/grupo5Flows.json
[{"id":"f6e024ba.84d7a8","type":"tab","label":"Telemetry Flow Entrega","disabled":false,"info":""},{"id":"2f7a2d6.5cd0ad2","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"c5099d30.09887","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"2fce90f0.982b9","type":"ui_group","z":"","name":"Estado del Deposito","tab":"abbb1d7c.2dcee","disp":true,"width":"8"},{"id":"abbb1d7c.2dcee","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1040aea5.5405f1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e1e5972.70c188","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"83c8a17a.bd79b","type":"mqtt-broker","z":"","broker":"172.24.42.47","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9d9e4a85.3fba78","type":"function","z":"f6e024ba.84d7a8","name":"formatToDictionary","func":"\n\nvar res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\ntempArray = msg.payload.split(\";\");\n\nres.topic = \"sensors\";\nres.payload = {\"Temperature\": {\n    \"Value\": parseInt(tempArray[1]),\n    \"Promedio\": tempArray[2]\n},\n\"Sound\": {\n    \"Value\": parseInt(tempArray[4]),\n    \"Promedio\": tempArray[5]\n},\n\"Monoxide\": {\n    \"Value\": parseInt(tempArray[7]),\n    \"Promedio\": tempArray[8]\n},\n\"Lux\": {\n    \"Value\": parseInt(tempArray[10]),\n    \"Promedio\": tempArray[11]\n},\n\"Nivel\": tempArray[12],\n\"Area\": tempArray[13]\n};\n\nreturn res;\n","outputs":1,"noerr":0,"x":405,"y":440,"wires":[["a1d61aaa.1ded98"]]},{"id":"a1d61aaa.1ded98","type":"json","z":"f6e024ba.84d7a8","name":"","pretty":true,"x":625,"y":440,"wires":[["3460215f.82d7de","781d0067.30ba1"]]},{"id":"3460215f.82d7de","type":"debug","z":"f6e024ba.84d7a8","name":"Output","active":true,"console":"true","complete":"payload","x":825,"y":501,"wires":[]},{"id":"f8ff720f.912e1","type":"inject","z":"f6e024ba.84d7a8","name":"","topic":"alta.piso1.local1","payload":"Temperature;25;22;Sound;200;220;Monoxide;15;18;Luminosity;140;150;1;1","payloadType":"str","repeat":"1","crontab":"","once":true,"x":130,"y":440,"wires":[["9d9e4a85.3fba78"]]},{"id":"781d0067.30ba1","type":"mqtt out","z":"f6e024ba.84d7a8","name":"","topic":"registros","qos":"0","retain":"false","broker":"83c8a17a.bd79b","x":817,"y":364,"wires":[]}]