flows/grupo5Flows.json
[{"id":"42fd7f20.9b8ec","type":"tab","label":"Telemetry Flow Entrega","disabled":false,"info":""},{"id":"53f2f409.8460bc","type":"serial in","z":"42fd7f20.9b8ec","name":"Sensors","serial":"b3f204e6.883738","x":100,"y":320,"wires":[["335db31a.dbd6dc"]]},{"id":"335db31a.dbd6dc","type":"function","z":"42fd7f20.9b8ec","name":"formatToDictionary","func":"\n\nvar res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\ntempArray = msg.payload.split(\";\");\n\nres.topic = \"sensors\";\nres.payload = {\"Temperature\": {\n    \"Value\": parseInt(tempArray[1]),\n    \"Unit\": tempArray[2]\n},\n\"Sound\": {\n    \"Value\": parseInt(tempArray[4]),\n    \"Unit\": tempArray[5]\n},\n\"Monoxide\": {\n    \"Value\": parseInt(tempArray[7]),\n    \"Unit\": tempArray[8]\n},\n\"Lux\": {\n    \"Value\": parseInt(tempArray[10]),\n    \"Unit\": tempArray[11]\n},\n\"Place\": tempArray[13]\n};\n\nreturn res;\n","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["adee336b.50e75"]]},{"id":"adee336b.50e75","type":"json","z":"42fd7f20.9b8ec","name":"","pretty":true,"x":530,"y":320,"wires":[["3afcdf7f.2a552","4c9f1ad9.86cfe4"]]},{"id":"3afcdf7f.2a552","type":"debug","z":"42fd7f20.9b8ec","name":"Output","active":true,"console":"true","complete":"payload","x":720,"y":320,"wires":[]},{"id":"bdc5fbdd.3c2e38","type":"inject","z":"42fd7f20.9b8ec","name":"","topic":"alta.piso1.local1","payload":"temperature;25;C' ;sound;200;dB;monoxide;15;ppm;luminosidad;140;lux;Place;1","payloadType":"str","repeat":"0.1","crontab":"","once":true,"x":130,"y":440,"wires":[[]]},{"id":"4c9f1ad9.86cfe4","type":"mqtt out","z":"42fd7f20.9b8ec","name":"","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"685ed1a9.472b5","x":720,"y":240,"wires":[]},{"id":"b3f204e6.883738","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"685ed1a9.472b5","type":"mqtt-broker","z":"","broker":"172.24.42.32","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]